networks:
    back-end:
        driver: bridge
        name: back-end
    front-end:
        driver: bridge
        name: front-end

volumes:
    mongo-data:
        driver: local

services:
    mongodb:
        image: docker.io/mongo:8.0.8
        container_name: neibor-buy-mongo

        restart: unless-stopped

        environment:
            MONGO_INITDB_ROOT_USERNAME: ${DB_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
            MONGO_INITDB_DATABASE: ${DB_NAME}

        ports:
            - '${DB_PORT}:27017'

        volumes:
            - mongo-data:/data/db

        healthcheck:
            test: ['CMD', 'mongosh', '--eval', 'db.adminCommand({ ping: 1 })']
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s

        logging:
            driver: 'json-file'
            options:
                max-size: '10m'
                max-file: '3'

        networks:
            - back-end
    app:
        build:
            context: .
            dockerfile: Dockerfile

        container_name: neibor-buy-backend
        restart: unless-stopped

        env_file:
            - .env

        expose:
            - '3000'

        depends_on:
            mongodb:
                condition: service_healthy

        healthcheck:
            test:
                ['CMD', 'wget', '--quiet', '--tries=1', '--spider', 'http://localhost:3000/health']
            interval: 30s
            timeout: 5s
            retries: 3
            start_period: 30s

        logging:
            driver: 'json-file'
            options:
                max-size: '10m'
                max-file: '3'

        networks:
            - back-end
            - front-end

    nginx:
        image: docker.io/library/nginx:alpine
        container_name: neibor-buy-nginx
        restart: unless-stopped

        ports:
            - '8444:443'

        volumes:
            - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./nginx/certs:/etc/nginx/certs:ro

        depends_on:
            app:
                condition: service_healthy

        networks:
            - back-end

        logging:
            driver: 'json-file'
            options:
                max-size: '10m'
                max-file: '3'
